
.txt
{
font-family: 'Roboto Condensed', sans-serif;
color: white;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
ul
{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
html
{
  background-image: url("/images/meteorbg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#center
{
  text-align: center;
}
.button
{
  font-family: 'Roboto Condensed', serif;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
  cursor: pointer;
}
.homeButton
{
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
}
.homeButton:hover
{
  background-color: white;
  color: black;
}
.pageTwo
{
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
}
.pageTwo:hover
{
  background-color: white;
  color: black;
}
.pageThree
{
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
}
.pageThree:hover
{
  background-color: white;
  color: black;
}
.pageFour
{
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
}
.pageFour:hover
{
  background-color: white;
  color: black;
}
.pageFive
{
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
}
.pageFive:hover
{
  background-color: white;
  color: black;
}
.pageSix
{
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
}
.pageSix:hover
{
  background-color: white;
  color: black;
}
